<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anna" version="1.0.1006" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="PowerArgs" version="1.8.0.0" targetFramework="net40" />
  <package id="RazorEngine" version="3.3.0" targetFramework="net40" />
  <package id="Rx-Core" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-Interfaces" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-Linq" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-Main" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-PlatformServices" version="2.1.30214.0" targetFramework="net40" />
  <package id="Toolbox" version="0.1.1" targetFramework="net40" />
</packages>