# Speeds up Virtual Paradise and other supported VR clients
<ifModule mod_headers.c>
    Header set Connection keep-alive
</ifModule>

RewriteEngine on

# Adjust to the public URL relative path of OP
# e.g. http://op.com/for/world/?q= -> /for/world/
RewriteBase /

# Redirect legacy indexer requests
RewriteRule ^phop\.indexer\.php ?action=index [NC,R=301,L]
RewriteRule ^phop\.indexer\.php\?q=(.+) ?action=index&q=$1 [NC,R=301,L]

# Pretty redirect all /directory/ requests to indexer
RewriteRule ^([a-z]+)/$ ?action=index&q=$1 [NC,L]